<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--estilos-->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/radio_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" type="img/png">
    <title>Tus Noticias</title>
</head>
<body>
    <!-- comienzo del header -->
    <div class="container-fluid">
        <header>
            <div class="header" > 
                <h1>Tus Noticias</h1>
                <p>Tu portal de noticias favorito</p>
            </div>
        </header>
    </div>
    <!--comienzo del nav  -->
    <nav class="navbar">
        <a class="navlink" href="../../index.html">Inicio</a>
        <a class="navlink" href="../../public/views/ESports.html"> ESports</a>
        <a class="navlink" href="../../public/views/deportes.html"> Deportes</a>
        <a class="navlink" href="../../public/views/musica.html"> Musica</a>

    </nav>
    <div class="principal">
        <aside>
            <h2>Imagen del Gran triunfo del nuevo bicampeon de America</h2>
            <img class="imgaside" src="https://imgs.search.brave.com/20-n_f9hKJBroEE7CZsbVLO-cig-VmmhSN3MH4XQccU/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jbG91/ZGZyb250LXVzLWVh/c3QtMi5pbWFnZXMu/YXJjcHVibGlzaGlu/Zy5jb20vcmV1dGVy/cy9UUzVWM1I1NFU1/TFpYRTdVUVRZTkEz/UFZZUS5qcGc" alt="seleccion Argentina">
            <h2>Goleador de la copa</h2>
            <p>Lautaro martinez se proclamo goleador de la copa America con un total de 5 anoraciones</p>
            <img class="imgaside" src="https://imgs.search.brave.com/pK_vSm4fusaS9EngJfKFvgwN5il0OqnbFcH_EhCuAvY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5taW51dG91bm8u/Y29tL3AvZTdkYjc4/NTdmMTg2MWZkNWFi/YTJiMTM5YzQyZTM4/MzEvYWRqdW50b3Mv/MTUwL2ltYWdlbmVz/LzA0MS82MzMvMDA0/MTYzMzM1My82MTB4/MC9zbWFydC9sYXV0/YXJvLW1hcnRpbmV6/LXNlbGVjY2lvbi1h/cmdlbnRpbmEuanBn" alt="lautaro martinez" title="lautaro martinez">
        </aside>
            <main>
                <section>
                    <h2>Copa América 2024: Un Triunfo Histórico para Argentina</h2>
                    <p>La Copa América 2024 fue un evento especial que unió a las selecciones de América del Sur y del Norte en una competición de alto nivel. Celebrada en los Estados Unidos, esta edición sirvió como antesala para la Copa Mundial de la FIFA 2026, con Argentina emergiendo como el campeón indiscutible.</p>
                    <h2>Contexto y Formato del Torneo</h2>
                    <p>El torneo se llevó a cabo del 20 de junio al 14 de julio de 2024, con 16 equipos compitiendo: los 10 habituales de CONMEBOL y     seis equipos invitados de CONCACAF. La fase de grupos constó de cuatro grupos de cuatro equipos cada uno, donde los dos mejores de   cada grupo avanzaron a las etapas eliminatorias </p>
                    <h2>Camino hacia la Final</h2>
                    <p>Argentina, encabezada por su capitán Lionel Messi, tuvo un rendimiento excepcional desde la fase de grupos. En el Grupo A, Argentina derrotó a Canadá, Chile y Perú para avanzar a los cuartos de final. En los cuartos, se enfrentaron a Ecuador, venciendo en una emocionante tanda de penales. En semifinales, Argentina se impuso a Canadá con goles de Lionel Messi y Lautaro Martínez, asegurando su lugar en la final.</p>
                    <h2>Protagonistas del Torneo</h2>
                    <p>Lionel Messi, a pesar de enfrentar desafíos físicos, fue una figura clave para Argentina, anotando un gol crucial y liderando a su equipo con maestría. Su desempeño le valió un lugar en el Equipo del Torneo, destacando su importancia en el éxito de Argentina. Otros jugadores argentinos también fueron reconocidos por su excepcional desempeño, subrayando la calidad del equipo.</p>
                    <h2>Conclusion</h2>
                    <p>La victoria de Argentina en la Copa América 2024 no solo reafirmó su dominio en el fútbol continental, sino que también sirvió como un momento significativo en la carrera de Lionel Messi, consolidando su legado en el fútbol internacional. Con este triunfo, Argentina se perfila como un fuerte contendiente para la Copa Mundial de la FIFA 2026.</p>
                </section>
            </main>
    </div>
    <footer>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"> email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Deje aqui su email">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Si tiene algun aporte dejelo aqui:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <h3> Creador :</h3>
        <p>Ivo marchi castro</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>