<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--estilos-->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/radio_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" type="img/png">
    <title>Tus Noticias</title>
</head>
<body>
    <!-- comienzo del header -->
    <div class="container-fluid">
        <header>
            <div class="header" > 
                <h1>Tus Noticias</h1>
                <p>Tu portal de noticias favorito</p>
            </div>
        </header>
    </div>
    <!--comienzo del nav  -->
    <nav class="navbar">
        <a class="navlink" href="../../index.html">Inicio</a>
        <a class="navlink" href="../../public/views/ESports.html"> ESports</a>
        <a class="navlink" href="../../public/views/deportes.html"> Deportes</a>
        <a class="navlink" href="../../public/views/musica.html"> Musica</a>
    </nav>
    <!--comienzo de la parte principa-->
    <div class="principal">
        <aside>
            <h2>"Mas grande este año"</h2>
            <p>Cancion insignia del album</p>
            <iframe id="iframemusic" src="https://www.youtube.com/embed/tB_sDNs_sbw" title="1 - YSY A - MAS GRANDE ESTE AÑO (Prod. CLUB HATS)" frameborder="0" autoplay="1" ></iframe>
            <h2>Canciones del album</h2>
            <img class="imgaside"  src="https://imgs.search.brave.com/aGPX3hnAw7K2T1YEA4L-HeuO0rnYSxTDgCjLAs9ho9w/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly91cmJh/bnNvdW5kcHJpbnRz/LmNvbS9jZG4vc2hv/cC9maWxlcy9SQURJ/T0NMVUJISVRTWVNZ/QVBPU1RFUi5qcGc_/dj0xNzE0MDkzMTM5/JndpZHRoPTE0NDU" title=" imagen de radio club hits" alt="imagen de radio club hits"> 
            <ul class="ulaside"><br>
                <li> <a href="https://youtu.be/tB_sDNs_sbw" target="_blank">Mas grande este año</a></li>
                <li> <a href="https://youtu.be/r8ACdTizg54?list=PLSel5e2j7Bz3mD-5qTCK1PcelvR8I3zcH" target="_blank">Cada vez que</a></li>
                <li> <a href="https://www.youtube.com/watch?v=Rgq6962mxb8&list=PLSel5e2j7Bz3mD-5qTCK1PcelvR8I3zcH&index=3&pp=iAQB8AUB" target="_blank"> Ya ni yo me entiendo</a></li>
                <li> <a href="https://www.youtube.com/watch?v=pQ037dl6FMA&list=PLSel5e2j7Bz3mD-5qTCK1PcelvR8I3zcH&index=4&pp=iAQB8AUB" target="_blank">Tony soprano</a></li>
                <li> <a href="https://www.youtube.com/watch?v=HvtJ_7bLBzs&list=PLSel5e2j7Bz3mD-5qTCK1PcelvR8I3zcH&index=5&pp=iAQB8AUB"target="_blank" >Agua con pila</a></li>
            </ul>
        </aside>
            <main>
                <section>
                    <h2>Radio club hit ysy a </h2>
                    <p>YSY A, un artista argentino de trap, lanzó un nuevo álbum titulado “Radio Club Hits” en abril de 2024. El disco sorprendió a los fanáticos ya que fue lanzado casi a mitad de año, rompiendo con la tradición de sacar álbumes cada 11 de noviembre.</p>
                    <h2>Características del álbum</h2>
                    <p>Producido por Club Hats, productor oficial de Sponsor Dios, “Radio Club Hits” combina elementos de rap y hip hop con sonidos que remiten a los 90’s. El álbum comienza con una bienvenida calurosa y explota con la canción “MÁS GRANDE ESTE AÑO”, que refleja la pasión y dedicación de YSY A en su carrera artística.</p>
                    <h2>Estructura y temática</h2>
                    <p>El álbum se caracteriza por su energía y diversidad, con canciones que van desde la explosión emocional hasta el disfrute puro. La temática abarca la búsqueda de superarse y romper límites artísticos, con canciones como “TONY SOPRANO” que cruzan rubicones y demuestran la capacidad de YSY A para innovar y sorprender.</p>
                    <h2>Presentación y recepción</h2>
                    <p>YSY A celebró el lanzamiento del álbum con una escucha especial para sus fanáticos en el Complejo C Art Media, donde compartió su nuevo trabajo y conectó con su audiencia. La recepción del álbum ha sido positiva, con críticos y fanáticos alabando la diversidad y energía de la música.</p>
                    <h2> Sus conceptos</h2>
                    <p>Este álbum comienza con la cálida bienvenida: “Estás escuchando Radio Club Hits” y la explosión emocional del primer track “MÁS GRANDE ESTE AÑO”, canción que explica a la perfección qué es lo que YSY A vive y siente año a año mientras trabaja sin parar en busca seguir rompiendo su techo artístico.<br>
                    El segundo track del disco “CADA VEZ QUE” es una pieza reflexiva e introspectiva en la que todos nos adentramos en lo más profundo de su alma para poder entender qué es lo que se siente ser Alejo en el momento en que los estadios se llenan, se cumplen sueños y los objetivos son cada vez más grandes.<br>
                    Para la tercera canción titulada “MOVIMIENTO”, los dos invitados son garantía de rap clásico, es decir, un lujo total: J REI y OBIE WANSHOT le ponen su personalidad a una canción que, como marca la esencia del Hip Hop, hace eje en la realidad y en el concepto lúdico del arte, sin por ello perder la mirada en el horizonte. Tal vez la mejor manera de describir a este tema sea el momento en el que canta: “Cada vez estoy más loco ya ni yo me entiendo”, barra que permite cerrar el círculo a la perfección.<br>
                    “Para encontrar la manera” es que existe una canción como “TONY SOPRANO” en la FM 111.1 Radio Club Hits. Siempre cruzando rubicones, dejando en claro que no hay misión que sea imposible para un verdadero artista como YSY A. Es de esta manera que Alejo elige mostrarse sin miedos: como un creador que en sus noches eternas vive buscando la siguiente canción, la siguiente barra, con la próxima etapa siempre en la mente.<br>
                    Y el cierre de ‘RADIO CLUB HITS’ es como tiene que ser: a puro disfrute. La realidad es innegable: ahí donde esté YSY A, siempre vamos a encontrar vértigo, emociones, alegría y muchos festejos. Con el volumen bien alto, “AGUA CON PILA” le pone el moño a un proyecto con las locuras de un artista que desde el primer día vive por y para su música y que de mortal no tiene absolutamente nada.</p>
                </section>
            </main>
    </div>
    <!--footer-->
    <footer>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"> email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Deje aqui su email">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Si tiene algun aporte dejelo aqui:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <h3> Creador :</h3>
        <p>Ivo marchi castro</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>